img {
    max-width: 150%;
    max-height: 150%;
}
body {
    margin: 50px auto;
    width: 700px;
}
h1{
    color: #c9c99c;
    font-size: 30px;
    font-family: "Times New Roman",Times,serif;
}
p {
    border: 20px;
    border-color: #888844;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #383532;
    color: #c9c99c;
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
}
a {
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
    text-decoration: none;
    color: #111109;
}
a:hover {
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
    text-decoration: underline;
    color: #999966;
}