img {
    max-width: 100%;
    max-height: 100%;
}
figure {
    color: #acc4c4;
}
h1{
    color: #acc4c4;
    font-size: 30px;
    font-family: "Times New Roman",Times,serif;
}
body {
    top: 25px;
    background-color: #091d28;
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
}
main {
    top: 25px;
    height: 90%;
    border: 20px;
    border-color: #ffd000;
    border-style: dotted;
    border-radius: 2px;
    padding: 10px;
    background-color: #15353a;
    color: #acc4c4;
}
a {
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
    text-decoration: none;
    color: #a6c4a7;
}
a:hover {
    font-size: 14px;
    font-family: "Courier New",Courier,monospace;
    text-decoration: underline;
    color: #8dc18f;
}
p {
    color: #acc4c4;
}